* {
    font-family: monospace
}

h1 {
    padding-left: 30px;
 }
 
 h2,h3 {
     padding-left: 40px;
 }
 
 .unsponsored-links, .socials {
     list-style:none;
     padding-left: 40px;
 }
 
 .stuff-description {
     padding-left: 50px;
 }
 
 footer {
     color:#444444;
     padding-left: 10px
 }